<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title> Cấu hình thông số</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
  <!-- Sidebar toggle button-->
  <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">


    <!-- User Menu-->
    <li><a class="app-nav__item" href="/"><i class='bx bx-log-out bx-rotate-180'></i> </a>


    </li>
  </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/img/avt.png}" width="50px" alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>Admin</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item" th:href="@{/hicard/home/viewlist}"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label"> Xem danh sách </span></a></li>
    <li><a class="app-menu__item" th:href="@{/hicard/home/report/reportbyyear}"><i class='app-menu__icon bx bx-id-card'></i> <span
            class="app-menu__label"> Báo cáo </span></a></li>
    <li><a class="app-menu__item active" href="#"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label"> Cấu hình </span></a></li>
  </ul>
</aside>
<main class="app-content">
  <div class="row">
    <div class="col-md-12">
      <div class="app-title" style="justify-content: flex-end">
        <div id="clock"></div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="">
      <div class="">
        <h1 style="text-align: center;background-color: white;width: 100%;padding-top: 10px;">CẬP NHẬT THÔNG SỐ CẤU HÌNH</h1>
        <div class="">
          <form th:action="@{/hicard/home/config}" th:object="${config}" method="POST" style="display: flex;flex-wrap: wrap">
            <div class="form-group col-md-6">
              <label class="control-label"> Lương cơ sở (VND)</label>
              <input type="number" name="salary" th:field="*{salary}" class="form-control" step="1" placeholder="Lương cơ sở" th:value="*{salary}" autofocus/>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người lao động theo mức lương được hưởng (%)</label>
              <input type="number" name="worker" th:field="*{worker}" class="form-control" placeholder="Người lao động" step="any" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người hưởng lương hưu, trợ cấp mất sức lao động (%)</label>
              <input type="number" name="retirement" th:field="*{retirement}" class="form-control" step="any" placeholder="Lương hưu, mất sức lao động" th:value="*{retirement}" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người trong chế độ nghỉ thai sản trước khi nghỉ (%)</label>
              <input type="number" name="maternity" th:field="*{maternity}" class="form-control" step="any" placeholder="Nghỉ thai sản" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người hưởng trợ cấp thất nghiệp (%)</label>
              <input type="number" name="unemployment" th:field="*{unemployment}" class="form-control" step="any" placeholder="Trợ cấp thất nghiệp" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của các đối tượng khác (%)</label>
              <input type="number" name="other" th:field="*{other}" class="form-control" step="any" placeholder="Đối tượng khác" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người thứ 1 trong hộ gia đình so với mức lương cơ sở (%)</label>
              <input type="number" name="familyOne" th:field="*{familyOne}" class="form-control" step="any" placeholder="Người đóng thứ nhất" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người thứ 2 trong hộ gia đình so với người thứ 1 (%)</label>
              <input type="number" name="familyTwo" th:field="*{familyTwo}" class="form-control" step="any" placeholder="Người đóng thứ 2" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người thứ 3 trong hộ gia đình so với người thứ 1 (%)</label>
              <input type="number" name="familyThree" th:field="*{familyThree}" class="form-control" step="any" placeholder="Người đóng thứ 3" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người thứ 4 trong hộ gia đình so với người thứ 1 (%)</label>
              <input type="number" name="familyFour" th:field="*{familyFour}" class="form-control" step="any" placeholder="Người đóng thứ 4" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức đóng của người thứ 5 trở đi trong hộ gia đình so với người thứ 1 (%)</label>
              <input type="number" name="familyFive" th:field="*{familyFive}" class="form-control" step="any" placeholder="Người đóng thứ 5" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức hỗ trợ đối với hộ nghèo ở huyện nghèo (%)</label>
              <input type="number" name="familyThree" th:field="*{poor}" class="form-control" step="any" placeholder="Huyện nghèo" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức hỗ trợ đối với hộ cận nghèo (%)</label>
              <input type="number" name="familyFour" th:field="*{nearPoor}" class="form-control" step="any" placeholder="Hộ cận nghèo" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức hỗ trợ đối với học sinh, sinh viên (%)</label>
              <input type="number" name="familyFive" th:field="*{student}" class="form-control" step="any" placeholder="Học sinh sinh viên" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"> Tỉ lệ phần trăm mức hỗ trợ đối với người thuộc hộ gia đình nông-lâm-ngư-diêm nghiêp(%)</label>
              <input type="number" name="farmer" th:field="*{farmer}" class="form-control" step="any" placeholder="Nông lâm ngư nghiệp" />
            </div>
            <div class="box-footer hide" style="width: 100%">
              <button type="submit" class="btn btn-primary" style="margin: auto" id="btnSubmit">
                Submit
              </button>
            </div>
          </form>
          <div class="box-footer" style="width: 100%;display: flex;">
            <button type="submit" class="btn btn-primary" style="margin: auto" onclick="checkConfig()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let listInput = document.querySelectorAll('input');
    const listArr = Array.from(listInput);
    const firstInput = listArr.shift();
    firstInput.addEventListener('blur', function() {
      if (parseInt(firstInput.value) < 1 || isNaN(parseInt(firstInput.value))) {
        alert("Vui lòng nhập giá trị lương cơ sở hợp lệ lớn hơn 0");
      } else if (parseFloat(firstInput.value) % 1 != 0) {
        alert("Vui lòng nhập giá trị lương cơ sở là một số nguyên");
      }
    });
    console.log(listArr)
    listArr.forEach(input => {
      input.addEventListener('blur', function() {
        if (parseFloat(input.value) < 0 || parseFloat(input.value) >100 || isNaN(parseInt(input.value))) {
          alert("Vui lòng nhập giá trị phần trăm hợp lệ là số dương không vượt quá 100");
        }
      });
    });
  </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

  <script th:src="@{/js/app.js}"></script>
</main>

<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<script type="text/javascript">
  //Thời Gian
  function time() {
    var today = new Date();
    var weekday = new Array(7);
    weekday[0] = "Chủ Nhật";
    weekday[1] = "Thứ Hai";
    weekday[2] = "Thứ Ba";
    weekday[3] = "Thứ Tư";
    weekday[4] = "Thứ Năm";
    weekday[5] = "Thứ Sáu";
    weekday[6] = "Thứ Bảy";
    var day = weekday[today.getDay()];
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    nowTime = h + " giờ " + m + " phút " + s + " giây";
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = day + ', ' + dd + '/' + mm + '/' + yyyy;
    tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
    document.getElementById("clock").innerHTML = tmp;
    clocktime = setTimeout("time()", "1000", "Javascript");

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  }
</script>
</body>

</html>