<!DOCTYPE html>
<html   lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Danh sách cá nhân tham gia bảo hiểm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
</head>

<body style="background: none;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/customers/home">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/hicard/home/viewlist">Xem danh sách <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/hicard/home/report" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Xuất báo cáo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/hicard/home/report/reportbyyear">Báo cáo tổng tiền bảo hiểm theo năm</a>
                    <a class="dropdown-item" href="/hicard/home/report/reportcomplete">Báo cáo danh sách cá nhân đã đóng phí  </a>
                    <a class="dropdown-item" href="/hicard/home/report/reportnotcomplete">Báo cáo danh sách cá nhân chưa đóng phí</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hicard/home/config">Cấu hình</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
            <span th:text="#{user.name}"></span>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Đăng xuất</button>
        </form>
    </div>
</nav>
<div class="report_info">
    <h1 style="text-align: center;background-color: white;width: 100%;">Danh sách cá nhân tham gia bảo hiểm</h1>
    <a class="nav-brand" th:href="@{/customers/home}"style="width: 6%;font-size: 16px;text-align: center"> BACK </a>
    <div style="width:10%;">
    </div>



    <div style="width: 40%;">
        <span class="report_info_end">Bộ lọc địa chỉ</span>
        <div >
            <label >Tỉnh, thành phố</label>
            <span style="color: red;font-size: 30px">*</span>
            <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm" onclick="createCity()">
                <option value="" selected>Chọn tỉnh thành</option>
            </select>
        </div>
        <div >
            <label >Quận, huyện</label>
            <span style="color: red;font-size: 30px">*</span>
            <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm" onclick="createDistrict()">
                <option value="" selected>Chọn quận huyện</option>
            </select>
        </div>

    </div>
    <form th:action="@{/hicard/home/viewlist}" th:object="${request}" method="POST" class="">
        <div class="form-group hide">
            <label> Student First Name </label>
            <span  style="color: red;font-size: 30px">*</span>
            <input type="text" name="province" id="inputCity" th:field="*{province}" class="form-control" placeholder="Enter Student First Name" />
        </div>
        <div class="form-group hide">
            <label> Student Last Name </label>
            <input type="text" name="district" id="inputDistrict" th:field="*{district}" class="form-control" placeholder="Enter Student Last Name" />
        </div>

        <div class="form-group ">
            <label> Ngày bắt đầu </label>
            <span class="report_info_title" style="color: red;font-size: 30px">*</span>
            <input type="date" name="dateStart"  th:field="*{dateStart}" class="form-control" placeholder="Enter Student Last Name" />
        </div>
        <div class="form-group  ">
            <label> Ngày kết thúc</label>
            <span class="report_info_title" style="color: red;font-size: 30px">*</span>
            <input type="date" name="dateEnd"  th:field="*{dateEnd}" class="form-control" placeholder="Enter Student Last Name" />
        </div>
        <div >
            <button id = "xemds" type="submit" class="button login__submit">
                Xem danh sách
            </button>
        </div>
    </form>
</div>
<table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
        <th> STT </th>
        <th> Họ và tên </th>
        <th> Mã bảo hiểm </th>
        <th> Căn cước</th>
        <th> Ngày sinh</th>
        <th> Giới tính</th>
        <th> Số điện thoại </th>
        <th> Ngày tham gia </th>
        <th> Ngày kết thúc </th>

    </tr>
    </thead>

    <tbody>
    <tr th:each = "cus, i: ${listHICard}">
        <td th:text="${i.index + 1}"></td>
        <td th:text = "${cus.name}"></td>
        <td th:text = "${cus.code}"></td>
        <td th:text = "${cus.idCardNum}"></td>
        <td th:text = "${cus.dob}"></td>
        <td th:text = "${cus.gender}"></td>
        <td th:text = "${cus.phone}"></td>
        <td th:text = "${cus.dateStart}"></td>
        <td th:text = "${cus.dateEnd}"></td>

    </tr>
    </tbody>
</table>





<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function(result) {
        renderCity(result.data);
    });
    var xemds = document.getElementById("district");
    xemds.onclick = function (){
        var inputCity = document.getElementById("inputCity");
        var inputDistrict = document.getElementById("inputDistrict");
        var dateStart = document.getElementsByName("dateStart");
        var dateEnd = document.getElementById("dateEnd");
        if(inputCity == undefined){

        }
    };

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Id);
        }
        citis.onchange = function() {
            district.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Id === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Id);
                }
            }
        };

    }
</script>
<script th:src="@{/js/app.js}"></script>
</body>

</html>