<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Báo cáo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="./login_files/bootstrap.min.js.download"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
  <script th:src="@{/js/app.js}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/customers/home">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/hicard/home/viewlist">Xem danh sách <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/hicard/home/report" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Xuất báo cáo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/hicard/home/report/reportbyyear">Báo cáo tổng tiền bảo hiểm theo năm</a>
          <a class="dropdown-item" href="/hicard/home/report/reportcomplete">Báo cáo danh sách cá nhân đã đóng phí  </a>
          <a class="dropdown-item" href="/hicard/home/report/reportnotcomplete">Báo cáo danh sách cá nhân chưa đóng phí</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hicard/home/config">Cấu hình</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout">
      <span th:text="#{user.name}"></span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Đăng xuất</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="screen_report">
    <div class="screen__content_report">
      <a th:href="@{/customers/home}"style="width: 16%;font-size: 16px;text-align: center;color: black"> BACK </a>
      <form class="login_report">
        <a th:href="@{/hicard/home/report/reportbyyear}" class="button login__submit"> Bao cao doanh thu theo nam </a>
        <a th:href="@{/hicard/home/report/reportcomplete}" class="button login__submit"> Bao cao danh sach ca nhan da hoan thanh </a>
        <a th:href="@{/hicard/home/report/reportnotcomplete}" class="button login__submit"> Bao cao danh sach ca nhan chua hoan thanh </a>
        <div class="social-login">
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>

  </div>
</div>


<script th:src="@{/js/app.js}"></script>
</body>

</html>