<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Danh sách cá nhân tham gia bảo hiểm</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="app.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
  <!-- Sidebar toggle button-->
  <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">


    <!-- User Menu-->
    <li><a class="app-nav__item" href="/"><i class='bx bx-log-out bx-rotate-180'></i> </a>

    </li>
  </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/img/avt.png}" width="50px" alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>Admin</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item" th:href="@{/hicard/home/viewlist}"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label"> Xem danh sách </span></a></li>
    <li><a class="app-menu__item active" href="#"><i class='app-menu__icon bx bx-id-card'></i> <span
            class="app-menu__label"> Báo cáo </span></a></li>
    <li><a class="app-menu__item" th:href="@{/hicard/home/config}"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label"> Cấu hình </span></a></li>
  </ul>
</aside>
<main class="app-content">
  <div class="row">
    <div class="col-md-12">
      <div class="app-title" style="justify-content: flex-end">
        <div id="clock"></div>
      </div>
    </div>
  </div>
  <nav class="nav_dark">
    <div style="height: 100%;color: white;width: 80%;display: flex; font-size: 23px">
      <a class="btn nav-brand" th:href="@{/hicard/home/report/reportbyyear}">BÁO CÁO TỔNG TIỀN BẢO HIỂM THEO NĂM</a>
      <a class="btn nav-master" th:href="@{/hicard/home/report/reportcomplete}">DANH SÁCH CÁ NHÂN HOÀN THIỆN PHÍ THEO THÁNG</a>
      <a class="btn nav-brand" th:href="@{/hicard/home/report/reportnotcomplete}">DANH SÁCH CÁ NHÂN CHƯA HOÀN THIỆN PHÍ THEO THÁNG</a>
    </div>
  </nav>
  <div class="report_info">
    <h1 style="text-align: center;background-color: white;width: 100%;padding-top: 10px;">BÁO CÁO CÁ NHÂN HOÀN THIỆN PHÍ THEO THÁNG</h1>

    <div style="width: 45%;">
      <span class="report_info_end">Bộ lọc địa chỉ</span>
      <div class="report_info_address">
        <span class="report_info_title">Tỉnh, thành phố</span>
        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm" onclick="createCity()">
          <option value="" selected>Chọn tỉnh thành</option>
        </select>
      </div>
      <div class="report_info_address">
        <span class="report_info_title">Quận, huyện</span>
        <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm" onclick="createDistrict()">
          <option value="" selected>Chọn quận huyện</option>
        </select>
      </div>

    </div>
    <form th:action="@{/hicard/home/report/reportcomplete/result}" th:object="${data}" method="POST" class="">
      <div class="form-group hide">
        <label> Student First Name </label>
        <input type="text" name="province" id="inputCity" th:field="*{province}" class="form-control" placeholder="Enter Student First Name" />
      </div>
      <div class="form-group hide">
        <label> Student Last Name </label>
        <input type="text" name="district" id="inputDistrict" th:field="*{district}" class="form-control" placeholder="Enter Student Last Name" />
      </div>

      <div class="form-group ">
        <label>Tháng </label>
        <input type="number" name="dateStart" id="inputStart" th:field="*{month}" class="form-control"/>
      </div>
      <div class="form-group ">
        <label> Năm </label>
        <input type="number" name="dateEnd" id="inputEnd" th:field="*{year}" class="form-control"/>
      </div>
      <div class="box-footer hide">
        <button type="submit" class="button login__submit"  style="padding-right: 80px;" id="btnSubmit">
          Xuất dữ liệu
        </button>
      </div>
    </form>
    <div class="box-footer">
      <button type="submit" class="button login__submit"  style="padding-right: 80px;" onclick="checkFailReportOther()" id="btnFake">
        Xuất dữ liệu
      </button>
    </div>
  </div>
  <script>
    // const month = document.getElementById("inputStart");
    // month.addEventListener("blur", () => {
    //   if (parseInt(month.value) < 1 || parseInt(month.value) >12 || month.value === "") {
    //     alert("Vui lòng nhập giá trị tháng hợp lệ lớn hơn 0 và nhỏ hơn 13");
    //   } else if (parseFloat(month.value) % 1 !== 0) {
    //     alert("Vui lòng nhập giá trị tháng là một số nguyên");
    //   }
    // });

    // const year = document.getElementById("inputEnd");
    // year.addEventListener("blur", () => {
    //   if (parseInt(year.value) < 1992) {
    //     alert("Vui lòng nhập giá trị năm hợp lệ lớn hơn 0");
    //   } else if (parseFloat(year.value) % 1 !== 0) {
    //     alert("Vui lòng nhập giá trị năm là một số nguyên");
    //   }
    // });
    const inputs = document.querySelectorAll('input');

    inputs.forEach((input) => {
      input.addEventListener('keydown', (event) => {
        if (event.keyCode === 13) {
          event.preventDefault(); // Ngăn chặn trình duyệt submit form khi nhấn Enter trong bất kỳ ô input nào trong form
          document.getElementById("btnFake").click();
        }
      });
    });
  </script>






  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var Parameter = {
      url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
      method: "GET",
      responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function(result) {
      renderCity(result.data);
    });
    // var xemds = document.getElementById("district");
    // xemds.onclick = function (){
    //     var inputCity = document.getElementById("inputCity");
    //     var inputDistrict = document.getElementById("inputDistrict");
    //     var dateStart = document.getElementsByName("dateStart");
    //     var dateEnd = document.getElementById("dateEnd");
    //     if(inputCity == undefined){
    //
    //     }
    // };

    function renderCity(data) {
      for (const x of data) {
        citis.options[citis.options.length] = new Option(x.Name, x.Id);
      }
      citis.onchange = function() {
        district.length = 1;
        if (this.value != "") {
          const result = data.filter(n => n.Id === this.value);

          for (const k of result[0].Districts) {
            district.options[district.options.length] = new Option(k.Name, k.Id);
          }
        }
      };

    }
  </script>
  <script th:src="@{/js/app.js}"></script>
</main>

<script src="js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="js/popper.min.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script src="js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<!--===============================================================================================-->
<script src="js/plugins/pace.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="js/plugins/chart.js"></script>
<!--===============================================================================================-->
<script type="text/javascript">
  //Thời Gian
  function time() {
    var today = new Date();
    var weekday = new Array(7);
    weekday[0] = "Chủ Nhật";
    weekday[1] = "Thứ Hai";
    weekday[2] = "Thứ Ba";
    weekday[3] = "Thứ Tư";
    weekday[4] = "Thứ Năm";
    weekday[5] = "Thứ Sáu";
    weekday[6] = "Thứ Bảy";
    var day = weekday[today.getDay()];
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    nowTime = h + " giờ " + m + " phút " + s + " giây";
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = day + ', ' + dd + '/' + mm + '/' + yyyy;
    tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
    document.getElementById("clock").innerHTML = tmp;
    clocktime = setTimeout("time()", "1000", "Javascript");

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  }
</script>
</body>

</html>